[run]
# measure branch coverage
branch = True
# omit uninteresting files
omit =
    polls/migrations/*.py
    */__init__.py
    mysite/*
    manage.py

[report]
exclude_lines =
    def __str__
    def __repr__