{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<a style="text-align:right; color: whitesmoke;">&ensp; Hello,&ensp; {{ request.user }} &ensp;</a>
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}"><button style="text-align:right;" type="button">Logout</button></a>
{% else %}
    <a href="{% url 'login' %}"><button style="text-align:right;" type="button">Login</button></a>
{% endif %}

<fieldset>
    <legend><h1>KU polls</h1></legend>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <list>{{forloop.counter0|add:"1"}}<small>.</small> &ensp;
    {% if question.can_vote %}
    <a href="{% url 'polls:detail' question.id %}" style="font-size: 18px;">{{ question.question_text }}</a> &ensp;
    <a href="{% url 'polls:results' question.id %}"><button type="button">{{"results"}}</button><br></a>
    {% else %}
    <a "question.id" style="font-size: 18px;">{{ question.question_text }}</a> &ensp;
    <a href="{% url 'polls:results' question.id %}"><button type="button">{{"results"}}</button><br></a>
    {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</fieldset>