li, li a {
    color: whitesmoke;
}

h1, h2, h3 {
    color: whitesmoke;
}

label, table, small {
    color: whitesmoke;
}

a, p {
    color: salmon;
}


list, list a{
    color: whitesmoke;
}

body {
    background: white url("images/background.jpeg") no-repeat;
}
